.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

img {
    border: 3px solid rgb(209, 204, 204);
    border-radius: 100%;
    padding: 2px;
    max-width: 100%;
    height:auto;
}
p {
    font-size:medium;
    font-family: sans-serif;
    white-space: pre;
    text-align: center;
   }

body {
   
    background-image: linear-gradient(black, white, white);
}
h4 {
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
}
.top {
    font-size: 1cm;
    letter-spacing: 0.5cm;
    text-align: center;
    font-family: sans-serif;
}

